@using Food_Bistro.Models.Classes
@model Users

@{
    string mail = ViewContext.HttpContext.Request.Cookies["mail"];

    string pwd = ViewContext.HttpContext.Request.Cookies["pwd"];

}

<form method = "post"  action = "/Home/Login">

    <label asp-for="Email"></label> <br />
    <input asp-for="Email"  value ="@mail"/> <br />

    <label asp-for="Password"></label> <br />
    <input asp-for="Password"   value ="@pwd"/> <br />

    <input type="submit" value="Submit" n/>
    @ViewBag.Message
    <br /><br />
    Nawa Aya Hain Sohnia? <a asp-action="Index">SignUp </a>

 </form>

       
