@using Food_Bistro.Models.Classes
@model Users

       <form method = "post"  action = "/Home/Index">
           <label asp-for="Name"></label> <br />
           <input asp-for="Name" /> <br />

           <label asp-for="Email"></label> <br />
           <input asp-for="Email"  /> <br />

           <label asp-for="Password"></label> <br />
           <input asp-for="Password"  />

           <input type="submit" value="Next" n/>
           @ViewBag.Message
           <br /><br />
           Already on Bistro? <a asp-action="LogIn">LogIn </a>
       </form>
